<!DOCTYPE html>
<html>
<head>
  <title>Vehicle Inventory</title>
</head>
<body>
  <h1>Vehicle Inventory</h1>
  <ul>
    <% vehicles.forEach(vehicle => { %>
      <li>
        <a href="/vehicles/<%= vehicle.id %>">
          <%= vehicle.title %> - $<%= vehicle.price %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
